
#navbar {
    background-color: rgb(24, 6, 114);
}
.nav-link {
    color: rgb(235, 221, 196);
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active{
    color: gray;
}
#post-container{
}
.card{
}
.footer{
    background-color: rgb(24, 6, 114);
    color: rgb(235, 221, 196);
}
.btn-primary, .btn-primary:focus{
    background-color: rgb(24, 6, 114);
    border:none;
    color: rgb(235, 221, 196);
}
.btn-primary:hover{
    background-color: gray;
    color:rgb(24, 6, 114);
}
.btn-primary:active{
    background-color:gray;
    color:rgb(24, 6, 114);
}


